@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    font-family: 'Oswald', sans-serif;
    background-image: url("/images/Tarkov.png");
}
.authorization {
    width: 100%;
    min-height: 60px;
    
    background: rgb(255, 187, 0);
    font-size: 50px;
   
    text-align: center;
    
    
}

.link {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
    min-height: 60px;
}

.container {
    width: 1200px;
    min-height: 650px;
    margin-top: 100px;
    margin-inline: auto;
    background: rgba(255, 255, 255, 0.322)
}

.tabs {
    
}

.tabs_items {
display: flex;


}

.tabs_item {
flex: 25%;
height: 50px;
justify-content: center;
align-items: center;
font-size: 40px;
text-decoration: none;
color: inherit;

}

.tabs_body {
   
}

.tabs_block {
padding: 50px;
display: none;
font-size: 20px;

}

.tabs_block:target {
    display: block;
   
}

.social{
   width: 500px;
   height: 100px;
   margin-inline: auto;
   display: flex;
   
}

.vk {
    display: block;
    height: 100%;
    width: 25%;
    background: url(/images/vk.png) no-repeat center center;
}

a.linkvk{
 display: block;
   width: 96px;
   height: 96px;
    margin: auto;
}
.ds {
    height: 100%;
    width: 25%;
    background: url(/images/ds.png) no-repeat center center;
}
a.linkds{
    display: block;
      width: 96px;
      height: 96px;
       margin: auto;
   }

.yt {
    height: 100%;
    width: 25%;
    background: url(/images/yt.png) no-repeat center center;
}
a.linkyt{
 display: block;
   width: 96px;
   height: 96px;
    margin: auto;
}
.tele {
    height: 100%;
    width: 25%;
    background: url(/images/tele.png) no-repeat center center;
}
a.linktele{
    display: block;
      width: 96px;
      height: 96px;
       margin: auto;
   }